### Miscellaneous
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

### IDE
.idea/

### nginx-proxy
volumes/nginx/certs/*
!volumes/nginx/certs/.gitkeep

volumes/nginx/conf.d/*
!volumes/nginx/conf.d/.gitkeep

volumes/nginx/vhost.d/*
!volumes/nginx/vhost.d/.gitkeep

volumes/nginx/html/*
!volumes/nginx/html/.gitkeep

volumes/nginx/htpasswd/*
!volumes/nginx/htpasswd/.gitkeep

.env
